@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.mainSection {
		@apply h-full bg-white rounded-2xl p-2;
	}
	.mainWidth {
		@apply w-[calc(100vw-260px-400px-(10px*3))]
	}
}

.swiper-pagination-bullet {
	background-color: white !important;
	opacity: 0.4	!important;
}

.pagination-active {
	background-color: white !important;
	opacity: 0.8 !important;
}

.swiper-button-prev, .swiper-button-next {
	color: white !important;
	scale: 0.65;
	opacity: 0.5;
	transition-duration: 150ms;
	&:hover {
		opacity: 0.8;
	}
}
