@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	body {
		@apply bg-background-light dark:bg-background-dark;
	}
	.mainSection {
		@apply h-full bg-white dark:bg-background-dark-main rounded-2xl p-2 text-black dark:text-white;
	}
	.mainWidth {
		@apply w-[calc(100vw-240px-350px-56px)];
	}
}

.swiper-pagination-bullet {
	background-color: white !important;
	opacity: 0.4 !important;
}

.pagination-active {
	background-color: white !important;
	opacity: 0.8 !important;
}

.swiper-button-prev,
.swiper-button-next {
	color: white !important;
	scale: 0.65;
	opacity: 0.5;
	transition-duration: 150ms;
	&:hover {
		opacity: 0.8;
	}
}

// hide scrollbar
.scrollbar-hidden {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}

// custom absolute scroll bar
.scrollbar-custom::-webkit-scrollbar {
	width: 5px; /* Ẩn hoàn toàn scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.5); /* Màu của thumb */
	position: absolute;
	right: -50px;
	border-radius: 10px;
}

.scrollbar-custom:hover::-webkit-scrollbar-thumb,
.scrollbar-custom:active::-webkit-scrollbar-thumb {
	opacity: 1; /* Hiển thị thumb khi scroll hoặc hover */
}
