@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.base-img {
		@apply object-cover object-center w-full h-full;
	}
}

@layer components {
	.content-layout {
		@apply w-full px-5 py-3;
	}
	.learning-layout {
		@apply grid w-full grid-cols-[1fr_400px] gap-5
	}
	.flex-center {
		@apply flex items-center justify-center;
	}
	.flex-between {
		@apply flex items-center justify-between;
	}
}

.react-responsive-modal-modal {
	max-width: 100% !important;
	overflow-y: hidden !important;
	height: 800px;
	padding: 0 !important;
}


/* Scrollbar Hidden */
.scroll-hidden {
-ms-overflow-style: none;
scrollbar-width: none;
}
.scroll-hidden::-webkit-scrollbar {
 display: none;
}

.scroll-custom::-webkit-scrollbar {
  width: 3px;
}
 
.scroll-custom::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.0);
}
 
.scroll-custom::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}


/* Swiper Customization */
.swiper-button-prev, .swiper-button-next {
	color: white !important;
	transform: scale(0.65);
}

.swiper-pagination-bullet {
	background-color: white !important;
}